.ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br3 {
    border-radius: .5rem;
}

.br-100 {
    border-radius: 100%;
}

.bw1 {
    border-width: .125rem;
}

.dib {
    display: inline-block;
}

.h3 {
    height: 4rem;
}

.lh-copy {
    line-height: 1.5;
}

.mw3 {
    max-width: 4rem;
}

.mw5 {
    max-width: 16rem;
}

.w3 {
    width: 4rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f4 {
    font-size: 1.25rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}



.ba {
    border-style: solid;
    border-width: 1px;
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black {
    border-color: #000;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

.baskerville {
    font-family: baskerville, serif;
}

.i {
    font-style: italic;
}

.fw1 {
    font-weight: 100;
}

.fw4 {
    font-weight: 400;
}

.h2 {
    height: 2rem;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mw7 {
    max-width: 48rem;
}

.w2 {
    width: 2rem;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.white {
    color: #fff;
}

.bg-black-80 {
    background-color: rgba(0, 0, 0, .8);
}

.bg-white {
    background-color: #fff;
}

.hover-bg-light-yellow:hover {
    background-color: #fbf1a9;
}

.hover-bg-light-yellow:focus {
    background-color: #fbf1a9;
}

.hover-bg-light-pink:hover {
    background-color: #ffa3d7;
}

.hover-bg-light-pink:focus {
    background-color: #ffa3d7;
}

.hover-bg-light-green:hover {
    background-color: #9eebcf;
}

.hover-bg-light-green:focus {
    background-color: #9eebcf;
}

.hover-bg-light-blue:hover {
    background-color: #76c4e2;
}

.hover-bg-light-blue:focus {
    background-color: #76c4e2;
}

.hover-bg-lightest-blue:hover {
    background-color: #cdecff;
}

.hover-bg-lightest-blue:focus {
    background-color: #cdecff;
}

.pa3 {
    padding: 1rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: .5rem;
}

.mt4 {
    margin-top: 2rem;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f1 {
    font-size: 3rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 60em) {
    .ph4-l {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .f5-l {
        font-size: 1rem;
    }
}










html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 /* border: 1px solid red;  */

 position: relative;
/* background-color: #76c4e2; */
}

/* .grid-container *:after { 
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
} */

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr  1fr  ; */
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". . . " ". . . .";
  justify-content: center
  
}


    
 .emoticon-size img{
   
    max-width:10%;
    max-height:30%;

 }  
 .emoticon-size{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

 }  


 .head-label{
 text-align: center;
 /* background-color: #ffa3d7; */


 }
 .svg-size{
    max-width:230%;
    max-height:230%;


 }
 @media only screen and (max-width: 1000px) {
    .emoticon-size img {
       display: none;
    }
}

  

.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}

.fw6 {
    font-weight: 600;
}

.lh-title {
    line-height: 1.25;
}

.gray {
    color: #777;
}

.pa3 {
    padding: 1rem;
}

.ml0 {
    margin-left: 0;
}

.mv2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.f6 {
    font-size: .875rem;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}

.dib {
    display: inline-block;
}

.fw7 {
    font-weight: 700;
}

.lh-copy {
    line-height: 1.5;
}

.black {
    color: #000;
}

.bg-white {
    background-color: #fff;
}

.hover-bg-light-blue:hover {
    background-color: #96ccff;
}

.hover-bg-light-blue:focus {
    background-color: #96ccff;
}

.pa2 {
    padding: .5rem;
}

.pa4 {
    padding: 2rem;
}

.no-underline {
    text-decoration: none;
}

.f4 {
    font-size: 1.25rem;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}







